.layout_container {
  background-image: url('/images/cover_image.svg');
  /* height: calc(100vh - -6rem); */
  height: 100vh;
  width: 100vw;
  /* background-repeat: no-repeat; */
  /* background-size: 100vw 100vh; */
}
