.mainContainer {
  height: 100%;
  width: 100%;
  font-family: Poppins;
}
.inputConatiner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.label {
  margin-top: 15px;

  font-weight: 400 !important;
  font-size: 15px !important;
}
.input {
  display: flex;
  flex-direction: column;
  border: none !important;
  border-bottom: solid 1px #43464e !important;
  border-radius: 0 !important;
  outline: none !important;
  height: 43px !important;
  padding: 0 !important;
  margin-top: -15px;
  font-size: 15px !important;
  width: 100%;
}

.declareBox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 100px;
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.applicationSent_container {
  padding-top: 15px;
  flex-direction: column;
  width: 100%;
  font-family: Poppins;
}
.appHeadingText {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 7px;
}
.appSpanText {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 250px;
  padding-right: 24px;
  padding-left: 24px;
}
