/* Drawer Overlay */
.drawer_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  background: linear-gradient(176.66deg, #004e92 1.26%, #000428 99.4%);
  height: 100vh;
  color: #ffff;
  transition: opacity 0.3s ease;
}

/* Drawer Container */
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1100;
}

/* Drawer Open State */
.drawer.open {
  transform: translateX(0);
}

/* Close Button */
.drawer.close {
  width: 100%;
  transform: translateX(0%) !important;
}

.drawer_option {
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(239, 234, 234, 0.2) !important;
  height: 40px;
  /* position: absolute; */
  top: 7rem;
  /* width: 100%; */
  align-content: center;
  margin-left: 4rem;
  margin-top: 2rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

/* Hover effect */
.drawer_option:hover {
  background-color: rgba(239, 234, 234, 0.4) !important;
}

/* Active effect */
.drawer_option:active {
  background-color: rgba(239, 234, 234, 0.6) !important;
  transform: scale(0.95);
}

/* Focus visible effect */
.drawer_option:focus-visible {
  background-color: rgba(239, 234, 234, 0.4) !important;
}

.drawer_option.selected {
  /* background-color: rgba(239, 234, 234, 0.8) !important; */
  border: 2px solid rgba(239, 234, 234, 0.8);
}

.sideNavIcon {
  display: none;
}

/* Media Query for Screen Width < 1525px */
@media (max-width: 1525px) {
  .drawer {
    width: 100% !important;
    transform: translateX(100%) !important;
  }

  .drawer.open {
    transform: translateX(0) !important;
  }

  .drawer_overlay {
    /* width: calc(100vw - 81vw) !important; */
  }

  .sideNavIcon {
    display: block !important;
  }
}
