.actionHeadersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #fff;
  border-radius: 8px;
}

.rightIcons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #3056d3;
  position: relative;
}

.actionButton:hover::after {
  content: attr(title);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 10px;
}
