.tableContainer {
  overflow-x: auto;
  max-height: calc(100vh - 350px);
  margin-top: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #000;
  white-space: nowrap;
  font-size: 14px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.iconButton {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
}

.iconButton:hover::after {
  content: attr(title);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 10px;
}

.arrow {
  margin-left: 5px;
  cursor: pointer;
}

.arrowContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 6px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #3056d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.pagination span {
  color: #666;
  font-size: 14px;
}
