.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.logo {
  width: 220px;
  height: 220px;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
  max-width: 400px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  position: relative;
}

.input {
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #3056d3;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.1);
}

.input.error,
.passwordInput.error {
  border-color: #ef4444;
}

.passwordInputContainer {
  position: relative;
  width: 100%;
}

.passwordInput {
  padding: 10px 40px 10px 10px;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  width: 100%;
}

.passwordInput:focus {
  outline: none;
  border-color: #3056d3;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.1);
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280;
  width: 20px;
  height: 20px;
}

.eyeIcon:hover {
  color: #4b5563;
}

.errorContainer {
  min-height: 1.25rem;
  display: flex;
  align-items: center;
}

.errorMessage {
  color: #ef4444;
  font-size: 12px;
  margin: 0;
}

.button {
  padding: 0.75rem;
  background-color: #3056d3;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #3056d3;
}

.button:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.link {
  color: #3056d3;
  text-decoration: none;
  font-size: 0.875rem;
}

.link:hover {
  text-decoration: underline;
}
