.usersContainer {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow-x: auto;
  height: calc(100vh - 64px);
}

.title {
  color: #000;
}

.searchInput {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #3056d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  min-width: 1000px;
}
