.userRolesContainer {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow-x: auto;
}

.title {
  color: #000;
}

.tableContainer {
  margin-top: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #3056d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}
