.main_container {
  width: 100%;
  height: 100%;
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Poppins;
}

.logo_container {
  padding-left: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.logo_skillup {
  padding-left: 6px;
}

.signin_container {
  width: 100%;
  height: 100%;
}
