.main_container {
  height: calc(100vh - 20px);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}
.flex_container {
  padding-left: 27px;
  padding-top: 50px;
  padding-right: 27px;
  flex-direction: column;
}
.heading {
  color: #3aa5e1;
  font-size: 40px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -1.2px;
}
.span_text {
  color: black;
  font-size: 27px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.81px;
}
.para_Text p {
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 15px;
}
.input_group {
  display: flex;
  margin-top: 50px;
}

.input_box {
  flex: 1;
  padding-left: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #7f898e;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.1);
}
.input_box:focus {
  background-color: #fff;
  outline: none;
}

.search_button {
  background-color: #3aa5e1;
  color: #fff;
  border: none;
  padding: 18px 21px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer_container {
  column-gap: 10px;
  position: absolute;
  bottom: 15px;
  left: 40%;
  align-items: center;
}
.footerText {
  color: black;
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
}
.image_container {
  width: 105px;
  height: 95px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px 8px;
  flex-wrap: wrap;
  margin-top: 16px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.1);
  margin: 32px 8px 0 0;
  transition: background-color 0.3s;
}
.image_container:hover,
.image_container:focus,
.image_container:active {
  background-color: #3aa5e1;
}
.image_text {
  text-align: center;

  width: auto;
  height: 24px;
  color: black;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.textWhite {
  color: #fff;
}
