@layer base {
  :root {
    --color-primary: 167, 27, 74; /* #A71B4A*/
    --color-secondary: 74, 76, 90; /* #4a4c5a*/

    --color-bg: 243, 244, 245; /* #f3f4f5*/
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;
    --digital-category-bgc: #ade8f4;
    --fashion-category-bgc: #ffddd2;
    --beauty-category-bgc: #ddd92a;
    --sport-category-bgc: #ffd60a;
    --house-category-bgc: #ccd5ae;
    --toy-category-bgc: #cce3de;
    --stationery-category-bgc: #fbb13c;
    --disabled-btn-color: 234, 207, 219; /*"#EACFDB"*/

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#fff*/
    --text-color: 255, 255, 255; /* #fff  added for white color  */
    --pending-status-color: 189, 148, 43, 1; /*#BD942B*/
    --delivered-status-color: 80, 201, 23, 1; /*#50C917*/
    --font-family: iranyekan, 'IRANSans', 'Tahoma';
  }

  .dark {
    --color-bg: 15, 23, 42; /* #0f172a*/
    --color-bg-side: 30, 41, 59; /* #1e293b*/
    --digital-category-bgc: #0d4c76;
    --fashion-category-bgc: #892a19;
    --beauty-category-bgc: #6d305f;
    --sport-category-bgc: #650606;
    --house-category-bgc: #164c4b;
    --toy-category-bgc: #6d3d4b;
    --stationery-category-bgc: #6a4202;

    --color-text-base: 226, 232, 240; /*#e2e8f0*/
    --color-text-muted: 140, 154, 175; /*#8c9aaf*/
    --color-text-side: 255, 231, 231; /*#fff*/
  }

  html[dir='ltr'] {
    --font-family: 'Poppins', 'Roboto', 'sans-serif';
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text-base));
}
.hideScroll::-webkit-scrollbar {
  display: none;
}
.order_status_progress {
  padding: 20px;
  padding-left: unset;
}

.chakra-text.order_status_text_completed {
  color: #5ec401;
}
.chakra-text.order_status_text_pending {
  color: #bd942b;
}
.chakra-button.checkout_btn {
  border: 1px solid;
}
.chakra-button.checkout_btn:last-child:active {
  background: transparent;
}
select.chakra-select {
  padding-inline-start: unset;
  padding-inline-end: unset;
}
.chakra-form__label.dropDown_label {
  margin: unset;
  font-weight: unset;
  padding: unset;
}
.chakra-button.assembly_details_btn {
  position: absolute;
  bottom: 20px;
  width: 90%;
}
.css-1ydjfm6[aria-checked='true'],
.css-1ydjfm6[data-checked] {
  background: #0560fa !important;
  border-color: #0560fa !important;
}
