.header {
    align-items: center;  
    justify-content: center;
    text-align: center;
}

.header-text {
    font-weight: 'bold';
    font-size: 20px;
    color: white;
    background-color: #9DAFF0;
    padding:20px;
    margin-top: -1%;
    letter-spacing: 1;
    align-items: center;
    justify-items: center;;

}

.Arrow {
   display: flex;
   position: relative;
   bottom: 60px;

}

.Btn {
  display: flex;
  position: relative;
  background-color:transparent;
  background-repeat:no-repeat;
  font-size: 17px;
  border: none; 
}

 .radio {
   display: flex;
   top: 94px;
   position: fixed;
 
} 

.back-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.top-bar .icon_back {
  position: absolute;
  left: 0;
  margin: 10px;
}

.top-bar{
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  height: 60px;
  font-weight: 500;
  background: #9DAFF0;
  box-shadow: 0 4px 8px rgba(0,0,0,.07);
  padding: 5px;
}

.text-white{
  color: white;
}
