.product_card_layout_container {
  width: 100%;
  box-shadow:
    0 20px 25px rgba(0, 0, 0, 0.1),
    0 8px 10px rgba(0, 0, 0, 0.05);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  background-color: #fff;
  border-radius: 0.75rem;
  display: flex;
  position: relative;

  @media (min-width: 640px) {
    width: 50%;
  }

  @media (min-width: 768px) {
    width: 66.66666667%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }

  @media (min-width: 1536px) {
    width: 33.33333333%;
  }

  @media (min-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media (direction: ltr) {
    margin-right: 0.5rem;
  }

  @media (direction: rtl) {
    margin-left: 0.25rem;
  }

  @media (min-width: 768px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.product_card_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    align-items: center;
  }
}

.product_img_lay_cont {
  position: relative;
  background-color: rgba(140, 158, 175, 0.3);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 768px) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (direction: rtl) {
    order: 2;
  }

  @media (min-width: 768px) and (direction: rtl) {
    order: initial;
  }
}

.product_img_cont {
  display: flex;
  align-items: center;
  height: 100%;
}

.product_img {
  box-shadow:
    0 20px 25px rgba(0, 0, 0, 0.1),
    0 8px 10px rgba(0, 0, 0, 0.05);
  object-fit: contain;
  transition: transform 300ms ease-in-out;
  transform: scale(1.1) on hover;
}

.product_name_container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 100%; /* md:w-full */
    padding-left: 1rem; /* md:px-3 */
    padding-right: 1rem; /* md:px-3 */
    padding-top: 1.5rem; /* md:py-4 */
    padding-bottom: 1.5rem; /* md:py-4 */
  }
}
