.cart_item_layout_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border-bottom: 2px solid #e3e8ef; */
  margin-bottom: 30px;
  box-shadow: 0px 8px 10px 0px #0000001a;
  border-radius: 12px;

  @media (min-width: 640px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 20px;
  }
}

.prouct_details_container {
  width: 100%;
  @media (min-width: 1024px) {
    width: 50%;
  }

  @media (min-width: 640px) {
    /* min-width: 480px; */
  }
}

.product_details {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 640px) {
    flex-wrap: nowrap;
  }
  @media (min-width: 640px) and (max-width: 1024px) {
    display: block;
  }

  /* justify-content: center; */
  align-items: center;
  flex-grow: 1;
}

.product_image_container {
  min-width: 100px;
  height: 94px;
  margin-bottom: 4px;
  @media (min-width: 640px) and (max-width: 1024px) {
    margin: 0 auto;
  }
}
.product_image_container img {
  width: 100%;
  height: 100%;
}

.product_name {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 4px;
  direction: ltr;
  font-size: 17px;
  /* margin-left: 0.5rem; */
  margin-right: 0.5rem;
  width: 100%;
  /* text-align: center; */
  padding-top: 0.25rem;

  @media (min-width: 640px) {
    margin-bottom: 8px;
  }
}

.product_count_price_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 16px;
  gap: 15px;

  @media (min-width: 768px) {
    align-items: center;
  }

  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}

.product_counter_layout_container {
  flex-grow: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  @media (min-width: 640px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product_counter_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @media (min-width: 1024px) {
    justify-content: center;
  }
}

.plus_icon_container {
  /* padding: 0.5rem; */
}

.plus_icon {
  font-size: 20px;
}

.product_counter_input {
  display: inline-block;
  height: 28px;
  width: 54px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid #d1d5db;
  text-align: center;
  border-radius: 0.25rem;
}

.delete_icon_container,
.minus_icon_container {
  /* padding: 0.25rem; */
}

.delete_icon {
  font-size: 1.3rem;
  color: red;
}

.minus_icon {
  font-size: 1rem;
}

.total_amount_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: normal;
  /* margin-left: 0.25rem; */
  margin-right: 0.25rem;
  font-size: 15px;
}
.product_provider {
  font-size: 12px;
}
.product_shortDesc {
  font-size: 12px;
  margin-bottom: 4px;
}
.product_provider span {
  font-size: 12px;
  font-weight: 600;
}
