.cart_item_layout_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 2px solid #000;
  margin-bottom: 1.5rem;

  @media (min-width: 640px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.prouct_details_container {
  width: 100%;
  @media (min-width: 1024px) {
    width: 50%;
  }

  @media (min-width: 640px) {
    min-width: 290px;
  }
}

.product_details {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 640px) {
    flex-wrap: nowrap;
  }

  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.product_image_container {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.product_name {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  direction: ltr;
  font-size: 17px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  text-align: center;
  padding-top: 0.25rem;

  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}

.product_count_price_container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    align-items: center;
  }

  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}

.product_counter_layout_container {
  flex-grow: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  @media (min-width: 640px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product_counter_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @media (min-width: 1024px) {
    justify-content: center;
  }
}

.plus_icon_container {
  padding: 0.5rem;
}

.plus_icon {
  font-size: 1rem;
}

.product_counter_input {
  display: inline-block;
  width: 65px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid #d1d5db;
  text-align: center;
  border-radius: 0.25rem;
}

.delete_icon_container,
.minus_icon_container {
  padding: 0.25rem;
}

.delete_icon {
  font-size: 1.3rem;
  color: red;
}

.minus_icon {
  font-size: 1rem;
}

.total_amount_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: normal;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 15px;
}
