.orderSummaryContainer {
  box-shadow: 0px 8px 30px 0px #0000001a;
  border-radius: 12px;
  width: 100%;
  padding: 15px 20px;
}

.orderSummaryDetails {
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 15px;
}
.orderSummaryText {
  width: 100%;
  margin-bottom: 10px;
}
.orderSummaryDetailRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.orderSummaryQuantity {
  margin-left: 0.25rem; /* rtl:ml-1 */
  margin-right: 0.25rem; /* ltr:mr-1 */
  font-weight: bold;
}

.orderSummaryButton {
  /* display: block;
  margin-top: 15px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
  margin-top: 15px;
}

/* Additional styles for different screen sizes can be added using media queries */
.CTA_btn {
  margin-top: 20px;
  width: 100%;
}
