.orderSummaryContainer {
  flex-grow: 1;
  position: sticky;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  top: 9rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #fcfbfe;
  border-width: 2px;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: 98vw;
  min-width: 300px;
  max-width: 400px;
	margin-top: 15px;
	z-index: 9;
}



.orderSummaryDetails {
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 15px;
}

.orderSummaryDetailRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.orderSummaryQuantity {
  margin-left: 0.25rem; /* rtl:ml-1 */
  margin-right: 0.25rem; /* ltr:mr-1 */
  font-weight: bold;
}

.orderSummaryButton {
  /* display: block;
  margin-top: 15px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
	margin-top: 15px;
}

/* Additional styles for different screen sizes can be added using media queries */
