@layer base {
  :root {
    --color-primary: 167, 27, 74; /* #A71B4A*/
    --color-secondary: 74, 76, 90; /* #4a4c5a*/

    --color-bg: 243, 244, 245; /* #f3f4f5*/
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;
    --digital-category-bgc: #ade8f4;
    --fashion-category-bgc: #ffddd2;
    --beauty-category-bgc: #ddd92a;
    --sport-category-bgc: #ffd60a;
    --house-category-bgc: #ccd5ae;
    --toy-category-bgc: #cce3de;
    --stationery-category-bgc: #fbb13c;
    --disabled-btn-color: 234, 207, 219; /*"#EACFDB"*/

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#fff*/
    --text-color: 255, 255, 255; /* #fff  added for white color  */
    --pending-status-color: 189, 148, 43, 1; /*#BD942B*/
    --delivered-status-color: 80, 201, 23, 1; /*#50C917*/
    --font-family: iranyekan, 'IRANSans', 'Tahoma';
  }

  .dark {
    --color-bg: 15, 23, 42; /* #0f172a*/
    --color-bg-side: 30, 41, 59; /* #1e293b*/
    --digital-category-bgc: #0d4c76;
    --fashion-category-bgc: #892a19;
    --beauty-category-bgc: #6d305f;
    --sport-category-bgc: #650606;
    --house-category-bgc: #164c4b;
    --toy-category-bgc: #6d3d4b;
    --stationery-category-bgc: #6a4202;

    --color-text-base: 226, 232, 240; /*#e2e8f0*/
    --color-text-muted: 140, 154, 175; /*#8c9aaf*/
    --color-text-side: 255, 231, 231; /*#fff*/
  }

  html[dir='ltr'] {
    --font-family: 'Poppins', 'Roboto', 'sans-serif';
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text-base));
}

.smartphone-wrapper {
  position: relative;
  /* width: 393px;
  height: 686px;
  border: 4px solid #ffffff;
  border-radius: 36px; */
  margin: 0 auto;
}
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 4px #d9d9d9 solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-radius: 36px;
  margin-top: 1px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d9d9d9;
  border-radius: 50%;
  z-index: 99;
}

/* The screen (or content) of the device */
.smartphone {
  width: 383px;
  height: 678px;
  background: white;
}
.content {
  width: 375px;
  height: 666px;
  overflow: hidden;
  margin-top: 1px;
}
