.main_container {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Poppins;
}
.logo_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.logo_skillup {
    padding-left: 6px;
}
.signin_container {
    width: 100%;
    height: 100%;
}
.signin_button_conatiner {
    flex-direction: row;
    align-items: center;
}
.signin {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.signIn_text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.signin_button {
    width: 335px;
}
.google_icon {
    position: relative;
    right: 4rem;
    color: transparent;
}
.signin_button_text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
