/* Layout.module.css */

.container {
  display: flex;
  flex-direction: column;
}

.container.homepage {
  height: 100vh;
}

.container.minHeight {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  /* background: #fbfcff; */
}

.main.withPadding {
  padding: 0 20px;
}

.main.withMargin {
  margin-top: 10px;
}
.main.withMarginSignUp {
  margin-top: 60px;
}

.main.homepageMargin {
  /* margin-top: 24px; */
}

.main.searchMargin {
  margin-top: 95px;
}

.main.isHome {
  margin-top: 30px;
}
/* @media screen and (min-width: 1024px) and (max-width: 1525px) {
  .container {
    width: calc(100% - 260px);
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .container {
    width: unset;
  }
} */
