/* todo: delete file if not needed */
.left-section {
  overflow: hidden;
  .round-2 {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -5%;
    left: -50px;
    &:before {
      content: "";
      width: 50px;
      height: 50px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      top: 12%;
      right: -29%;
    }
    &:after {
      content: "";
      width: 30px;
      height: 30px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      top: -25%;
      right: 29%;
    }
  }
}
.header-round {
  .round-1 {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -8%;
    left: -1.3%;
    z-index: 1;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      top: -8px;
      right: -28%;
    }
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      bottom: 5%;
      right: -63%;
    }
  }
}

.autocomplete-box {
  width: 100%;
  position: relative;
  & > div {
    background: transparent !important;
    z-index: 9;
    position: absolute !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    max-height: 300px !important;
    height: auto !important;
    top: inherit !important;
    left: 0 !important;
    .autocomplete-item {
      background-color: #fff;
      padding: 3px 10px;
      border: 1px solid #eaeaea;
      border-top: 0;
      text-align: left;
      cursor: pointer;
      &:hover {
        background-color: #eaeaea;
      }
      &.active {
        background-color: #04d4cd;
        color: white;
      }
    }
  }
}

.nav-tabs {
  .nav-link {
    color: black;
  }
}

// .dashboard {
//   .nav-pills .nav-link {
//     border-radius: 0;
//     color: #fff;
//     background-color: #050505;
//   }

//   .nav-pills .nav-link.active,
//   .nav-pills .show > .nav-link {
//     color: #000;
//     background-color: #fff;
//     font-weight: 600;
//   }
// }

.card {
  .bg-primary {
    background-color: transparent !important;
  }
  .border-primary {
    border-color: black !important;
  }
  &:hover {
    &.bg-dark {
      background-color: #96b7d5 !important;
    }
    .bg-primary {
      background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    }
    .border-primary {
      border-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    }
  }
}
