.product_list_layout_container {
  width: 100%;
  padding-top: 25px;

  @media (min-width: 1280px) {
    max-width: 2100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product_card_list_container {
  display: grid;
  grid-gap: 1rem;
  padding-top: 70px;

  @media (min-width: 768px) {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.no_category_text {
  color: #757575;
  text-align: center;
  margin-top: 2.8rem;
}
