
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.3 * var(--bs-gutter-x));
    margin-left: calc(-0.2 * var(--bs-gutter-x));
}


