.mainContainer {
  font-family: Poppins;
}

.flexContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
}
.boxContainer {
  width: 334px;
  height: 509px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  background: #fff;
  padding: 15px 10px;
  margin-top: 14px;
  font-weight: 15px;
  font-size: 15px;
}

.qualContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12px;
  padding-bottom: 7px;
  flex-wrap: wrap;
  font-size: 12px;
}
.buttonContainer {
  margin: 18px 0px;
}
.applyButton {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 12px;
  color: white !important;
  background-color: #3aa5e1 !important;
  font-size: 15px;
  font-weight: 400 !important;
  font-style: normal;
  line-height: 24px !important;
}
