/* Layout.module.css */

.container {
  display: flex;
  flex-direction: column;
}

.container.homepage {
  height: 100vh;
}

.container.minHeight {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.main.withPadding {
  padding: 0 20px;
}

.main.withMargin {
  margin-top: 40px;
}
.main.withMarginSignUp {
  margin-top: 10px;
}

.main.homepageMargin {
  margin-top: 24px;
}

.main.searchMargin {
  margin-top: 118px;
}
