.me-2-C{
    background-color: #D22323;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    color:white;
    position: fixed;
    bottom: 35px;
    bottom: 60px;
    height: 60px;
    width: 100%;
    border: none;
}

.popupbottom{
    top: 50%;
    vertical-align: bottom;
}

.popup{
    background-color: #f5f1ed;
    position:relative;
    padding-bottom:20%;
  }
.carLog {
    width: 46.7px;
    height: 46.7px;
    position: fixed;
    top: 18%;
    left: 1%;
}
.callLog{
    position: fixed;
    display: flex;
    right: 1%;
    top: 15%;
}
.titlle {
    position:absolute;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    top: 15%;
}
.titlle-text {
    position: absolute;
    text-align: center;
    width: 100%;
    /* font-size: 24px; */
    /* font-weight: 500; */
    top: 34%;
}

 .bottomModal{
    bottom: 10%;
    width: 100%;
    height: 260px;
    background: #FFFFFF;
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    position: fixed;
 }

 .rectangle-bar{
    text-align: center;
    position: absolute;
    width: 100%;
    margin-bottom: 10px;
    top: -5px;
 }

 .nevigate-body{
    position: relative;
    top: 5%;
}
 
.recbar{
    height: 1%;
    background-color: transparent;
    border: none;
}