.sort_text {
  direction: ltr;
  margin-left: 0.25rem;

  @media (direction: rtl) {
    direction: rtl;
    margin-right: 0.25rem;
  }
}

.radio_input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: unset !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  @media (min-width: 640px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @media (min-width: 480px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.radio_input_label {
  font-size: 0.875rem;
  cursor: pointer;
}

.selected_radio_input_label {
  color: #3b82f6;
  font-weight: 700;
}

.unselected_radio_input_label {
  color: rgba(117, 117, 117, 0.8);
  transition: all 0.25s ease-in-out;
}

.unselected_radio_input_label:hover {
  color: #007bff !important;
}
