.main_container2 {
    background: #fff;
    height: calc(100vh - 0px);
    background-repeat: no-repeat;
    margin-top: 3.5vh;
    padding-left: 5px;
    background-size: cover;
}

.search_box_container {
    border-bottom: 2px solid rgba(var(--color-primary));
    width: 85%;
}
.search_box_input {
    outline: none;
    width: 90%;
    margin-right: 12px;
}
.border {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.location_pointer_wrapper {
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.location_listitem_content {
    max-width: 80%;
    margin-left: 10px;
    margin-bottom: 5px;
}
.location_list_item {
    border-bottom: 1px solid #f0f0f0;
    height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location_listitem_content_main_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 14.32px;
    color: #37474f;
}
.location_listitem_content_secondary_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7c7c7c;
}
.location_listitem_container {
    margin-top: 10px;
}
