/* Layout.module.css */

.container {
  display: flex;
  flex-direction: column;
}

.container.homepage {
  height: 100vh;
  background-image: url('/images/landingPageTourism.svg');
}

.container.minHeight {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  /* background: #fbfcff; */
}

.main.withPadding {
  padding: 0 20px;
}

.main.withMargin {
  margin-top: 100px;
}
.main.withMarginSignUp {
  margin-top: 60px;
}

.main.homepageMargin {
  margin-top: 100px;
  padding: 20px;
}

.main.searchMargin {
  margin-top: 95px;
}
