.checkbox label {
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
}

.checkbox label:after {
  border: 1px solid #fff;
  content: "";
  height: 12px;
  opacity: 0;
  position: absolute;
  width: 12px;
  border-radius: 50%;
  padding: 6px;
  left: 2px;
  top: 2px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label::after {
  background-color: #a71b4a;
  border-color: #a71b4a;
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
