.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
}

.searchBar {
  width: 335px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.jobsFlex {
  flex-wrap: wrap;
  padding: 15px 20px 10px 20px;
  color: black;
  font-size: 15px;
}
.jobsText {
  padding-bottom: 10px;
  font-size: 12px;
}
