@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 167, 27, 74; /* #A71B4A*/
    --color-secondary: 74, 76, 90; /* #4a4c5a*/

    --color-bg: 243, 244, 245; /* #f3f4f5*/
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;
    --digital-category-bgc: #ade8f4;
    --fashion-category-bgc: #ffddd2;
    --beauty-category-bgc: #ddd92a;
    --sport-category-bgc: #ffd60a;
    --house-category-bgc: #ccd5ae;
    --toy-category-bgc: #cce3de;
    --stationery-category-bgc: #fbb13c;
    --disabled-btn-color: 234, 207, 219; /*"#EACFDB"*/

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#fff*/
    --text-color: 255, 255, 255; /* #fff  added for white color  */
    --pending-status-color: 189, 148, 43, 1; /*#BD942B*/
    --delivered-status-color: 80, 201, 23, 1; /*#50C917*/
    --font-family: iranyekan, 'IRANSans', 'Tahoma';
  }

  .dark {
    --color-bg: 15, 23, 42; /* #0f172a*/
    --color-bg-side: 30, 41, 59; /* #1e293b*/
    --digital-category-bgc: #0d4c76;
    --fashion-category-bgc: #892a19;
    --beauty-category-bgc: #6d305f;
    --sport-category-bgc: #650606;
    --house-category-bgc: #164c4b;
    --toy-category-bgc: #6d3d4b;
    --stationery-category-bgc: #6a4202;

    --color-text-base: 226, 232, 240; /*#e2e8f0*/
    --color-text-muted: 140, 154, 175; /*#8c9aaf*/
    --color-text-side: 255, 231, 231; /*#fff*/
  }

  html[dir='ltr'] {
    --font-family: 'Poppins', 'Roboto', 'sans-serif';
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text-base));
}

ul {
  list-style: unset !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src:
    url('/fonts/woff/iranyekanwebbold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebbold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src:
    url('/fonts/woff/iranyekanwebthin.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebthin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src:
    url('/fonts/woff/iranyekanweblight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanweblight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/woff/iranyekanwebregular.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebregular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/woff/iranyekanwebmedium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src:
    url('/fonts/woff/iranyekanwebextrabold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src:
    url('/fonts/woff/iranyekanwebblack.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebblack.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src:
    url('/fonts/woff/iranyekanwebextrablack.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
  font-display: swap;
}

.slick-dots li button::before {
  font-size: 12px !important;
}
.image_section > span {
  width: 220px !important;
  height: 240px !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.45 !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 9 !important;
  content: '' !important;
}

@media (min-width: 1024px) {
  .slick-dots li button:before {
    font-size: 12px;
  }
  .slick-dots {
    padding-bottom: 40px !important;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--color-bg));
}

::-webkit-scrollbar-thumb {
  /* background-color: #a71b4a; */
  border-radius: 100vw;
}

/* input */

input,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

input:focus,
select:focus {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #b9b9b9;
  font-size: 14px;
}
/* .chakra-accordion__icon {
    height: 24px !important;
    width: 24px !important;
    position: absolute;
    right: 15px;
    top: 15px;
} */

.object-contain {
  object-fit: unset !important;
}

.app_header_b {
  /* margin-left: -20px; */
  /* margin-right: -20px; */
  padding: 6px 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1) !important;
}
.border_radius_all {
  border-radius: 12px !important;
}
.css-690el4[aria-checked='true'],
.css-690el4[data-checked] {
  background-color: #a71b4a !important;
  border-color: #a71b4a !important;
}
.css-690el4 {
  border: 1px solid !important;
  border-color: #a71b4a !important;
}
.product_description_text p {
  font-size: 15px;
}
.product_description_text p:first-child {
  padding-bottom: 10px;
  padding-top: 10px;
}
.product_description_text ul li {
  padding-bottom: 5px;

  /* list-style-position: inside; */

  margin-left: 16px;
}
.hideScroll::-webkit-scrollbar {
  display: none;
}
.hideScroll::-webkit-scrollbar {
  display: none;
}
.input_input__F_m4r:not(:placeholder-shown) ~ .input_input_label__hv2in {
  font-size: 12px;
  font-weight: 500;
}
.css-vhc7ah {
  padding-inline-start: unset !important;
  padding-inline-end: unset !important;
}
.trade-status-accordion-button:disabled {
  opacity: 1 !important;
}
.trade-status-accordion-icon {
  display: none !important;
}
/* .css-1juf683 {
  font-size: 12px !important;
} */
.myStore-homepage [data-test='app-title'] {
  color: #228b22;
  font-size: 20px;
}
.myStore-homepage .topSheet_topsheet_wrapper__g91VI {
  position: absolute;
  top: 42px;
  z-index: 999;
  left: 0;
  width: unset !important;
}
.cart-count {
  background-color: #228b22 !important;
}
.cart-count > p {
  color: #fff !important;
  margin-bottom: unset;
}
.myStore-search-wrapper [data-test='filter-button'] svg rect,
.myStore-search-wrapper [data-test='filter-button'] svg path {
  fill: transparent;
  stroke: #a7a7a7;
}
.myStore-product-details svg path {
  fill: unset;
  stroke: unset;
}
.filter-wrapper {
  height: unset !important;
}
.filter-wrapper .dropDown_label {
  padding-left: unset !important;
  margin-left: unset !important;
}
.cencel_btn_filter {
  border: 1px solid #e93324 !important;
}
.myStore-search-wrapper p {
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.myStore-search-wrapper img.product-search-img {
  object-fit: unset !important;
  /* height: 60px;
  width: 90px; */
  box-shadow: unset;
}
.myStore-search-wrapper .-product_card_layout_container {
  min-height: 136px;
}
.radio-for-emi {
  width: 20px !important;
  height: 20px !important;
}
.radio-for-emi::before {
  background: #53a052 !important  ;
  height: 14px !important;
  width: 14px !important;
  position: absolute !important;
}
.radio-for-emi[data-checked][data-hover][data-focus-visible] {
  background: transparent !important  ;
  border-color: inherit !important  ;
  box-shadow: unset !important;
}
.radio-for-emi[data-checked] {
  background: transparent !important  ;
  border-color: inherit !important  ;
}
.btn-for-emi[data-hover],
.btn-for-emi:hover {
  background: unset !important;
}
.emi-chakra-select {
  padding-inline-start: unset !important;
}
.dropdown-emi label {
  font-size: 17px !important;
  font-weight: 400 !important;
  top: -20px !important;
}
.cart-text .cart-item_product_image_container__n9Q9Z {
  margin-bottom: 10px !important;
}
.cart-text .cart-item_product_name__qWsHK {
  font-size: 15px;
}
/* .myStore-cart {
  position: relative;
}
.myStore-cart input {
  display: none;
}
.myStore-cart .cart-item_plus_icon_container__rtSke {
  display: none;
}
.myStore-cart .cart-item_minus_icon_container__z25aM,
.myStore-cart .cart-item_delete_icon_container__7Fnhn {
  position: absolute;
  right: 0;
  top: 0;
} */
.cart-item_product_count_price_container__X6rK1 {
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  flex: unset !important;
}
.cart-text .chakra-text,
.search-text .chakra-text,
.product-text .chakra-text {
  font-size: 15px !important;
}
.product-text .chakra-text {
  margin-bottom: unset !important;
}
.product-price .chakra-text,
.product-star-rating .chakra-text,
.custom-product-info .chakra-text {
  flex-wrap: wrap;
  font-size: 13px !important;
}
.order-summary_orderSummaryContainer__v8MgZ {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff !important;
  border-width: 0 !important;
}
.cart-item_product_name__qWsHK {
  justify-content: center;
}
.product-text .domain {
  margin: 0 auto;
  margin-top: 10px !important;
}
.domain {
  border-radius: 12px;
  font-size: 10px;
  padding: 2px 6px;
  color: #fff !important;
  background-color: #4498e8;
  width: fit-content;
}
.product-text .-product_summary_name {
  text-align: center;
}
.product-text .css-13dls4l {
  justify-content: center;
}
.checkout-open-spark .checkout-commom-item {
  display: none;
}
.quantity-checkout {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 4px 10px;
  width: 40px;
  text-align: center;
}
.chakra-modal__body {
  max-height: calc(100vh - 6rem) !important;
}
@media only screen and (max-width: 370px) {
  .mytrade-status {
    gap: 2px !important;
  }
}
.css-1530p3w:active,
.css-1530p3w[data-active] {
  background: #228b22 !important;
}

.css-1530p3w:hover,
.css-1530p3w[data-hover] {
  background: #228b22 !important;
}

.css-522or8:active,
.css-522or8[data-active] {
  background: #228b22 !important;
}

.css-522or8:hover,
.css-522or8[data-hover] {
  background: #228b22 !important;
}
.checkout-open-spark .overview-checkout {
  display: none;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.myStore-homepage .css-1em4q9y {
  background: #e4ffe4;
}
input {
  border-color: unset !important;
}

.css-k008qs input {
  border-color: #fff !important;
  background-color: #fff;
}
.myStore-search-wrapper svg {
  background: #fff;
  border-radius: 12px;
}
.-product_summary_container .css-afhyro {
  background: #fff;
}
.react-datepicker__input-container {
  background: #fff;
}
