/* Layout.module.css */

.container {
  display: flex;
  flex-direction: column;
  background: #deeaf5;
}

.container.homepage {
  height: 100vh;
}

.container.minHeight {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  /* background: #fbfcff; */
}

.main.withPadding {
  padding: 0 20px;
}

.main.withMargin {
  margin-top: 100px;
}
.main.withMarginSignUp {
  margin-top: 60px;
}

.main.homepageMargin {
  margin-top: 24px;
}

.main.searchMargin {
  margin-top: 95px;
}

.main.isHome {
  margin-top: 30px;
}
.myStore {
  max-width: 40rem !important;
}
