.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.radioButton {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
}

.radioButton:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #0560fa;
}

.radioButton:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}
