.switch{
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 2%;  
    top: 70px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(120, 120, 128, 0.16);
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: #34C759;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #34C759;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .title{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    position: fixed;
    left: 12px;
    top: 70px;
  
  }
  
  .text{
  font-weight: 275;
  font-size: 14px;
  line-height: 22px;
  position: fixed;
  top:105px;
  left: 15px;
  }
  .textav{
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  position: fixed;
  top: 105px;
  left: inherit;
  } 
  
  .dot {
  height: 6px;
  width: 6px;
  background-color:#DBDBDB;
  border-radius: 50%;
  display: inline-block;
  margin-right:8px
  }
  .accept-button {
  background: #34C759;
  color:white;
  }
  .decline-button {
  background:  none;
  color:red;
  }
  
  .switchButtonBody{
  top: 100px;
  background-color: #34C759;
  }
  
  .alertdata{
    font-size: 18px;
    font-weight: 400px;
    color: black;
  }
  
  .locationicon{
    margin-top: 25px;
    height: 50px;
    width: 50px;
  }
  
  .text-address {
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 45ch;
  }
  
  .hidden {
    visibility:hidden
  }